.card {}

.card:hover {
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.managebtn{
    text-decoration: none;
    color: white;
}
.managebtn:hover{
    color: whitesmoke;
}