.info-text{
 
z-index: 3;
}
.info{
 
    text-align: left;
}
.stock{
    border-right: 1px solid gray;
}
.stocks{
    border-bottom: 1px solid gray;
}
.main-section{
    margin-top: 100px;
    background-image: url(../../../image/second.jpg);
    height: 800px;
}
.pic{
    margin-top: -200px;
    z-index: -2;
}
@media only screen and (max-width:800px){
    .stock{
        border: none;
    }
    .stocks{
      border: none;
    }
}